[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[[source]]
url = "https://download.pytorch.org/whl/cu129"
verify_ssl = true
name = "downloadpytorch"

[packages]
gymnasium = "*"
qiskit = {extras = ["visualization"], version = "*"}
torch = ">=2.0.0, !=2.0.1, !=2.1.0"
torchvision = "*"
ipykernel = "*"
pytest = "*"
wandb = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.12"
